@use '@tylertech/forge/dist/forge-core.css';
@use '@tylertech/forge/dist/forge.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background-color: var(--forge-theme-surface-dim);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

// Utility classes

.padding-16 {
  padding: 16px;
}

.padding-inline-16 {
  padding-inline: 16px;
}

.span-full {
  grid-column: 1/-1;
}

.flex-center--row {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.flex-gap-0 {
  gap: 0;
}

.flex-gap-8 {
  gap: 8px;
}

.custom-icon {
  margin-inline-start: 4px;
  color: var(--forge-theme-text-medium);
  display: grid;
  place-content: center;

  forge-icon {
    font-size: 18px;
    cursor: help;
  }
}

.truncate {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

forge-radio-group {
  padding: 8px;
  // background-color: rgb(251, 251, 251);
  border-radius: 4px;
  border: 1px solid var(--forge-theme-text-lowest);
}

.preview-icon {
  font-size: 72px;
  color: var(--forge-theme-text-medium);
}

.preview-icon-empty {
  border: 2px dashed var(--forge-theme-text-lowest);
  padding: 16px;
  height: 72px;
  width: 72px;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

.break-all {
  word-break: break-all;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide {
  display: none;
}
