@mixin responsive-help-popover-container {
  max-width: 500px;

  @media screen and (max-width: 768px) {
    max-width: 70vw;
  }
}

@mixin add-edit-service-page-layout {
  max-width: 768px;
  margin: 24px auto;
  --forge-card-padding: 0;
}

@mixin card-overlay-page-grid() {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}
